@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    text-decoration: none;
    list-style: none;
    font-family: 'Red Hat Display', sans-serif;
}

body.js-mobile-menu-open {
    overflow: hidden;
    height:100%;
}

@media all and (min-width: 1024px){
    *{
        font-size: 16px;
    }
}