.contact_wrapper{
    max-width: 1440px;
    margin: 0 auto;
    padding: 5vh 2rem;
}

.contact_wrapper h2, .contact_wrapper h2 span{
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.contact_wrapper h2 span{
    color: #F6C004;
}

.c_txt{
    display: flex;
    justify-content: center;
}

.c_txt p{
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    max-width: 400px;
    margin-bottom: 3rem;
}

.c_email_phone{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c_email_phone div p{
    font-weight: 700;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 1px;
}

.c_email, .c_phone{
    display: flex;
    align-items: center;
}

.c_phone{
    margin-top: 1rem;
}

.c_email_icon, .c_phone_icon{
    font-size: 2rem;
    margin-right: 1rem;
}

@media all and (min-width: 1024px){
    .contact_wrapper{
        padding: 10vh 2rem 5vh 2rem;
    }

    .c_txt p{
        max-width: 600px;
        font-size: 1.2rem;
    }

    .c_email_phone div p{
        font-size: 1.2rem;
    }

    .c_email_phone{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .c_phone{
        margin: 0 0 0 3rem;
    }
}