.slider_desktop, .p_right_area, .p_left_area h3{
    display: none;
}

.projects_wrapper{
    max-width: 1440px;
    margin: 0 auto;
    padding: 5vh 2rem;
}

.projects_wrapper h2, .projects_wrapper h2 span{
    font-size: 4rem;
    margin-bottom: 2rem;
}

.projects_wrapper h2 span{
    color: #F6C004;
}

.slider_mobile div{
    text-align: center;
}

.slider_mobile div img{
    width: 90vw;
    max-width: 600px;
    margin: 2rem 0;
}

@media all and (min-width: 1024px){
    .left_right_wrapper{
        display: flex;
    }

    .slider_mobile{
        display: none;
    }

    .p_right_area, .p_left_area h3{
        display: block;
    }

    .p_left_area{
        display: flex;
        justify-content: center;
        width: 50%;
        height: 600px;
    }

    .slider {
        width: 40vw;
        max-width: 600px;
        height: 40vw;
        max-height: 600px;
    }

    .slider img {
        width: 40vw;
        max-width: 600px;
    }

    .slider_desktop{
        display: block;
        /* max-width: 600px; */
    }

    .p_right_area{
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 50%;
        height: 100%;
        padding-left: 5rem;
    }

    .p_right_area h3{
        font-size: 3rem;
        margin-bottom: 4rem;
    }

    .p_right_area p{
        line-height: 1.5;
        max-width: 500px;
    }

    .slick-prev:before, .slick-next:before{
        color: #818498;
        padding: 250px 0;
    }

    .technologies_icon{
        font-size: 3.5rem;
        margin: 5rem 1.5rem 0 0;
    }

    .link{
        margin-top: .5rem;
        font-weight: 700;
    }

    .link a{
        font-weight: normal;
        color: #818498;
    }

    .link a:hover{
        color: #F6C004;
        transition: .2s;
    }
}





