.slider_desktop, .p_right_area, .p_left_area h3{
    display: none;
}

.projects_wrapper{
    max-width: 1440px;
    margin: 0 auto;
    padding: 5vh 2rem;
}

.projects_wrapper h2, .projects_wrapper h2 span{
    font-size: 4rem;
    margin-bottom: 2rem;
}

.projects_wrapper h2 span{
    color: #F6C004;
}


.slider_mobile div{
    text-align: center;
}

.slider_mobile div img{
    width: 90vw;
    max-width: 600px;
    margin: 2rem 0;
}

.projects_wrapper_img_0, .projects_wrapper_img_1, .projects_wrapper_img_2, .projects_wrapper_img_3, .projects_wrapper_img_4{
    position: relative;
}

.projects_img_0, .projects_img_1, .projects_img_2, .projects_img_3, .projects_img_4{
    filter: blur(3px);
}

.active_project_0, .active_project_1, .active_project_2, .active_project_3, .active_project_4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 600px;
    height: 90vw;
    max-height: 600px;
    background-color: rgba(236, 236, 236, 0.5);
}

.nonactive_project{
    display: none;
}

.nonprojects_img{
    filter: blur(0);
}

.active_project_0 div, .active_project_1 div, .active_project_2 div, .active_project_3 div, .active_project_4 div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.active_project_0 div a, .active_project_1 div a, .active_project_2 div a, .active_project_3 div a, .active_project_4 div a{
    padding: 2rem;
}

.active_project_0 div a svg,.active_project_1 div a svg, .active_project_2 div a svg, .active_project_3 div a svg, .active_project_4 div a svg{
    font-size: 8rem;
    color: #2e2e2e;
}

@media all and (min-width: 1024px){
    .left_right_wrapper{
        display: flex;
    }

    .slider_mobile{
        display: none;
    }

    .p_right_area, .p_left_area h3{
        display: block;
    }

    .p_left_area{
        display: flex;
        justify-content: center;
        width: 50%;
        /* height: 600px; */
    }

    .slider {
        width: 40vw;
        max-width: 600px;
        height: 40vw;
        max-height: 600px;
    }

    .slider img {
        width: 40vw;
        max-width: 600px;
    }

    .slider_desktop{
        display: block;
        /* max-width: 600px; */
    }

    .p_right_area{
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 50%;
        height: 100%;
        padding-left: 5rem;
    }

    .p_right_area h3{
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    .p_right_area p{
        line-height: 1.5;
        max-width: 500px;
    }

    .slick-prev:before, .slick-next:before{
        color: #818498;
        padding: 250px 0;
    }

    .technologies_icon{
        font-size: 3.5rem;
        margin: 4rem 1.5rem 0 0;
    }

    .link{
        margin-top: .5rem;
        font-weight: 700;
    }

    .link a{
        font-weight: normal;
        color: #818498;
    }

    .link a:hover{
        color: #F6C004;
        transition: .2s;
    }
}





